

# ignore locally-installed packages:
node_modules/

# ignore secret credentials:
.env

# ignore clutter files (Mac OS):
.DS_Store

# ignore local google credentials file:

google-credentials.json
*credentials*.json
